@import url('https://fonts.googleapis.com/css?family=Raleway:400,900i&display=swap');
body
{
    margin: 0;
    padding: 0;
}
.monitoring
{
    font-size: 50px;
    width: 300px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    transform: translate(150%,100%);
    opacity: 1;
}
.controlling
{
    font-size: 50px;
    width: 300px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    transform: translate(400%,2%);
    opacity: 0.5;
}
.underline
{
    background-color: greenyellow;
    width: 100%;
    height: 10px;
    transform: translate(0%,200%);
}
.light-intensity
{
    background-color: green;
    height: 120px;
    width: 80%;
    margin-left:10%;
    transform: translate(0%,40%);
    border-radius: 10px;
    margin-bottom: 2%;
}
.light-intensity:hover
{
    background-color: greenyellow;
    transition: 0.7s ease;
    cursor:pointer;
}

.soil-moisture
{
    background-color: green;
    height: 120px;
    width: 80%;
    margin-left:10%;
    transform: translate(0%,40%);
    border-radius: 10px;
    margin-bottom: 2%;
}
.soil-moisture:hover
{
    background-color: greenyellow;
    transition: 0.7s ease;
    cursor:pointer;
}

.temperature
{
    background-color: green;
    height: 120px;
    width: 80%;
    margin-left:10%;
    transform: translate(0%,40%);
    border-radius: 10px;
    margin-bottom: 2%;
}
.temperature:hover
{
    background-color: greenyellow;
    transition: 0.7s ease;
    cursor:pointer;
}
.humidity
{
    background-color: green;
    height: 120px;
    width: 80%;
    margin-left:10%;
    transform: translate(0%,40%);
    border-radius: 10px;
    margin-bottom: 2%;
}
.humidity:hover
{
    background-color: greenyellow;
    transition: 0.7s ease;
    cursor:pointer;
}
.light,.soil,.temp,.hum
{
    transform: translate(5%,120%);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
a
{
    color: black;
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}






@media screen and (max-width:1200)
{
   .monitoring
    {
        transform: translate(50%,100%)
    }
    .controlling
    {
        transform: translate(800%,2%)
    }
}




@media screen and (max-width:1000)
{
    
}